<div class="container">
    <h1>MMA Front Page</h1>
    <h1><small>Get your daily MMA fix here</small></h1>
    <div class="col-md-8">
        <ul>
            {{#each article}}
                <li>
                    <a href="{{this.link}}">{{this.title}}</a>
                    <form action="/post" method="POST">
                            <button class="btn btn-warning" name="delete" type="submit" role="button" value="{{this._id}}">Delete</button>
                            <button class="btn btn-success" name="save" type="submit" role="button" value="{{this._id}}">Save</button>
                    </form>
                </li>
                <input type="text" class="form-control" name="comment" data-comment-id="{{this._id}}" placeholder="comment">
            {{/each}}
        </ul>
    </div>
</div>
